<h1>{{ poll?.title }}</h1>
<p>{{ poll?.description }}</p>

@if (loading) {
  <p>Lade...</p>
}

@if (poll) {
  <p>Gesamt Stimmen: {{ totalVotes }}</p>

  @for (option of poll.options; track option.id) {
    <div>
      <button
        (click)="vote(option.id)"
        [disabled]="selectedOptionId || voting"
      >
        {{ option.text }}
      </button>

      <div style="height: 10px; background: #eee;">
        <div
          style="height: 10px; background: blue;"
          [style.width.%]="getPercentage(option.voteCount)"
        ></div>
      </div>

      <p>{{ option.voteCount }} Stimmen</p>
    </div>
  }
}